  <div class="top-bar">
  <div class="top-bar-content">
    <div id="top-bar-text">
      <p id="top-bar-text-number">+55 84 99400 1570</p>
      <p>Entrega gátris para compras acima de R$200!</p>
    </div>
    <div id="top-bar-menu">
        <p id="my-account">Minha Conta</p>
        <p id="wishlist">Lista de Desejos</p>
        <div id="language">
            <img style="width: 1.3rem; margin-right: 0.7vw;" src="/assets/images/icons/brazil.png">
            <p>Português - BR</p>
            <img style="margin-left: 0.7vw;" src="/assets/images/icons/down.png">
        </div>
        <div id="currency">
            <p>Moeda: BRL</p>
            <img style="margin-left: 0.7vw;" src="/assets/images/icons/down.png">
        </div>
    </div>
  </div>
  <div class="header">
    <img id="header-logo" src="" alt="" />
    <div id="header-menu"></div>
  </div>
</div>